@using CodingEventsDemo.ViewModels;
@model AddEventViewModel;

<h1>Add Event</h1>

@if (ViewBag.error == "ERROR")
{
    <h1>@ViewBag.error</h1>
}

<form method="post">
    <div asp-controller="Events" asp-action="Add" class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContactEmail">Contact Email</label>
        <input asp-for="ContactEmail" />
        <span class="text-danger" asp-validation-for="ContactEmail"></span>
    </div>
    <input type="submit" value="Add Event" />
</form>
