<h1>Edit Event</h1>

<form method="post" action="/Events/Edit">
    <h2>Name of Event</h2>
    <input name="name" type="text" value="@ViewBag.eventToEdit.Name" />
    <h2>Info of Event</h2>
    <input name="description" type="text" value="@ViewBag.eventToEdit.Description"/>
    <input type="hidden" value="@ViewBag.eventToEdit.Id" name="eventId" />
    <input type="submit" value="Edit Event" />
</form>